.inner{
    overflow: hidden;
    
    
    .slide{
        position: fixed;
        top: 0;
        left:0;
        background-color: #45424b;
        width: 100vw;
        z-index: 10;
        display: flex;
        justify-content: center;  /* Centers horizontally */
        align-items: center;   
        height: 100vh;
    }
}